* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.gap-5 div {
  padding: 5px;
}

@media (max-width: 575.98px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .col-12 {
    width: 100%;
  }

  .col-11 {
    width: 91.66666667%;
  }

  .col-10 {
    width: 83.33333333%;
  }

  .col-9 {
    width: 75%;
  }

  .col-8 {
    width: 66.66666667%;
  }

  .col-7 {
    width: 58.33333333%;
  }

  .col-6 {
    width: 50%;
  }

  .col-5 {
    width: 41.66666667%;
  }

  .col-4 {
    width: 33.33333333%;
  }

  .col-3 {
    width: 25%;
  }

  .col-2 {
    width: 16.66666667%;
  }

  .col-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
  }

  .col-sm-12 {
    width: 100%;
  }

  .col-sm-11 {
    width: 91.66666667%;
  }

  .col-sm-10 {
    width: 83.33333333%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-7 {
    width: 58.33333333%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-5 {
    width: 41.66666667%;
  }

  .col-sm-4 {
    width: 33.33333333%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-2 {
    width: 16.66666667%;
  }

  .col-sm-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .col-md-12 {
    width: 100%;
  }

  .col-md-11 {
    width: 91.66666667%;
  }

  .col-md-10 {
    width: 83.33333333%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-8 {
    width: 66.66666667%;
  }

  .col-md-7 {
    width: 58.33333333%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-5 {
    width: 41.66666667%;
  }

  .col-md-4 {
    width: 33.33333333%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-2 {
    width: 16.66666667%;
  }

  .col-md-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 1200px) {
  .container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }

  .col-lg-12 {
    width: 100%;
  }

  .col-lg-11 {
    width: 91.66666667%;
  }

  .col-lg-10 {
    width: 83.33333333%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-8 {
    width: 66.66666667%;
  }

  .col-lg-7 {
    width: 58.33333333%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-5 {
    width: 41.66666667%;
  }

  .col-lg-4 {
    width: 33.33333333%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-2 {
    width: 16.66666667%;
  }

  .col-lg-1 {
    width: 8.33333333%;
  }
}
.navbar {
  width: 85%;
  margin: auto;
  height: auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
}
.navbar__img {
  width: 200px;
}
.navbar ul > li {
  display: inline-block;
}
.navbar ul > li i {
  font-size: 30px;
  padding: 30px 10px 20px 20px;
}

@media (max-width: 575px) {
  ul > li.icon {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 900.98px) {
  ul > li.icon {
    display: none;
  }
}
.section {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.section__profile {
  display: flex;
  flex-direction: row;
}
.section__profile > div > .section_img {
  padding: 10px;
  width: 150px;
  height: 150px;
  border-radius: 75px;
}
.section .texto {
  margin-top: 30px;
}
.section h5 {
  font-weight: 600;
}
.section ul {
  margin-top: 35px;
}
.section ul > li {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  color: white;
}
.section .color-uno {
  background-color: #44aec5;
}
.section .color-dos {
  background-color: #e87373;
}

.span {
  border-top: 1px solid rgba(0, 0, 0, 0.145);
}

.principal {
  width: 85%;
  margin: auto;
}

.container div h5 {
  font-weight: 600;
}
.container div img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  height: 200px;
}

@media (max-width: 575px) {
  .section_botones {
    display: none;
  }
}
.header {
  width: 100%;
  height: 300px;
  background-image: url("../../assets/img/image-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center;
}

/*# sourceMappingURL=style.css.map */
